<footer class="footer">
  <div class="container">
    <div class="row row-grid align-items-center mb-5">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">
          For more updates of our events 

        </h3>
        <h4 class="mb-0 font-weight-light">
          Follow us on these platforms
        </h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a
          class="btn btn-icon-only btn-twitter rounded-circle mr-3"
          href="https://twitter.com/ecell_iitb"
          target="_blank"
        >
          <span class="btn-inner--icon">
            <i style="
              top: -13px;
              left: -11px;
              font-size: 26px;
            "
           class="fa fa-twitter"> </i>
          </span>
        </a>
        <a
          class="btn-icon-only rounded-circle btn btn-facebook mr-3"
          href="https://www.facebook.com/ecell.in"
          target="_blank"
        >
          <span class="btn-inner--icon">
            <i style="
              top: -13px;
              left: -11px;
              font-size: 26px;
            "
           class="fab fa-facebook"> </i>
          </span>
        </a>
        <a
          class="btn btn-icon-only btn-dribbble rounded-circle mr-3"
          href="https://www.instagram.com/ecell_iitb/"
          target="_blank"
        >
          <span class="btn-inner--icon">
            <i
            style="
              top: -14px;
              left: -11px;
              font-size: 26px;
            "
             class="fa fa-instagram"> </i>
          </span>
        </a>
        <a
          class="btn btn-icon-only btn-facebook rounded-circle mr-3"
          href="https://www.linkedin.com/company/ecell_iitb"
          target="_blank"
          style="
          background-color: #0e76a8;"
        >
          <span class="btn-inner--icon">
            <i
            style="
              top: -15px;
              left: -11px;
              font-size: 26px;
            "
             class="fa fa-linkedin"> </i>
          </span>
        </a>
      </div>
    </div>
    <hr />

    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          <!-- {{ date | date: "yyyy" }} -->
          <a href="team" target="_blank"> Team 2020 | E-Cell </a>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="https://ecell.in/" target="_blank"> E-Cell </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://ecell.in/enbclub" target="_blank"> EnB </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://ecell.in/esummit" target="_blank"> E-Summit </a>
          </li>
          <!-- <li class="nav-item">
            <a
              class="nav-link"
              href="https://ecell.in/"
              target="_blank"
            >
              Blog
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="https://ecell.in/" target="_blank"> License </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
